body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.pagination {
    margin-bottom: 15px;
}
.skills {
    margin-top:50px;
}

.cv{
    margin-bottom: 50px;
}